<h1>Login</h1>

<%= simple_form_for :login, {url: sessions_path } do |f| %>
  Email: <%= f.email_field  :email, autofocus: true %>
  Password: <%= f.password_field :password, autocomplete: "off", class: "forgot_password" %>
<%= f.submit 'Login', class: "login-button" %>

<% end %>

<% if flash[:notice] %>
  <div class= "notice">
    <%= flash[:notice] %>
  </div>
<% end %>

