<h1>Create your account</h1>
   <%= form_for :user, url: '/users' do |f| %>
        Name: <%=f.text_field :name %>
        Email: <%=f.text_field :email %>
        Password: <%=f.password_field :password %>
        Confirm Password: <%=f.password_field :password_confirm %> 
        <%= f.submit %>
   <% end %>

