
  <title>Whodat Navbar</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <%= stylesheet_link_tag    "whodat/application", media: "all" %>
  <%= javascript_include_tag "whodat/application" %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="topnav" id="myTopnav">
 
    <a> <%= link_to 'Main app', main_app.root_path %> </a>
    <% if !user_signed_in? %>
      <a> <%= link_to 'Sign Up', new_user_path %> </a>
      <a> <%= link_to 'Log In', new_session_path %> </a>
    <% end %>
    <% if user_signed_in? %>
      <a> <%= link_to 'Log Out', session_path(current_user), data: {confirm: "Are you sure?" }, method: :delete %> </a>
      <div id="username"> You're logged in as <%=current_user.name %> </div>
    <% end %>

  </div>



