<!DOCTYPE html>
<html>
<head>
  <title>Whodat</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "whodat/application", media: "all" %>
  <%= javascript_include_tag "whodat/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
